
@media only screen and (orientation:portrait) {
    #content {display: none;}
    #turn {display: block;}
}

@media only screen and (orientation:landscape) {
    #content {display: flex;}
    #turn {display: none;}
}

#content{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    
}

body {
    background-color: #FEE4D6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    


}


.popup1 {
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    width: 55%;
    height: 55%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    position: absolute;
    


}

#introduccion{
    display: none; //flex

    &.opened {
        display: flex;
    }
}

.popupshapes {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3%;
   



}

#introduccion2{
    display: none; //flex

    &.opened {
        display: flex;
    }
}

.shapes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin: 3%;
    margin-bottom: 0%;
}

.pantallainicio {
    display: flex; 

    &.close {
        display: none;
    }
}

.texto1 {
    font-size: 45px;
}

.texto2 {
    font-size: 25px;
}

.botones {
    padding: 10px 15px;
    background-color: black;
    border-radius: 50px;
    border: 3px solid white;
    color: white;
}

.popup2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
    color: white;
    width: 55%;
    height: 55%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    position: absolute;

    

}



.popup2texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 35%;
}



.encuentracirculo {
    display: none;

    &.opened {
        display: flex;
    }
}




.background1 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.circle {
    position: absolute;
    z-index: 2;
    max-width: 12.9%;
    max-height: 12.9%;
    right: 30.8%;
    bottom: 57%;



}

.contador {
    position: absolute;
    z-index: 2;
    right: 7%;
    top: 20%;
}

.texto3 {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


.circle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}

.error {
    display: none;

    &.opened {
        display: flex;
    }
}

.encuentratriangulo {
    display: none;

    &.opened {
        display: flex;
    }
}

.background2 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.triangle {
    position: absolute;
    z-index: 2;
    max-width: 12.9%;
    max-height: 12.9%;
    right: 30.9%;
    bottom: 76.6%;


}

.triangle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentracuadrado {
    display: none;

    &.opened {
        display: flex;
    }
}

.background3 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.square {
    position: absolute;
    z-index: 2;
    max-width: 12.9%;
    max-height: 12.9%;
    right: 69%;
    bottom: 18%;


}

.square img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentratriangulorectangulo {
    display: none;

    &.opened {
        display: flex;
    }
}


.background4 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.righttriangle {
    position: absolute;
    z-index: 2;
    max-width: 12.9%;
    max-height: 12.9%;
    right: 43.55%;
    bottom: 18%;


}

.righttriangle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentratrianguloisosceles {
    display: none;

    &.opened {
        display: flex;
    }
}


.background5 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.isoscelestriangle {
    position: absolute;
    z-index: 2;
    max-width: 6.3%;
    max-height: 12.9%;
    right: 56.4%;
    bottom: 56.6%;


}

.isoscelestriangle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}



.encuentracirculo2 {
    display: none;

    &.opened {
        display: flex;
    }
}




.background6 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.circle2 {
    position: absolute;
    z-index: 2;
    max-width: 10.2%;
    max-height: 10.2%;
    right: 85%;
    bottom: 16%;



}


.circle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}




.encuentratriangulo2 {
    display: none;

    &.opened {
        display: flex;
    }
}




.background7 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.triangle2 {
    position: absolute;
    z-index: 2;
    max-width: 5%;
    max-height: 5%;
    right: 50.2%;
    bottom: 59.15%;



}


.triangle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentracuadrado2 {
    display: none;

    &.opened {
        display: flex;
    }
}




.background8 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.square2 {
    position: absolute;
    z-index: 2;
    max-width: 5.2%;
    max-height: 5.2%;
    right: 7%;
    bottom: 16.5%;



}


.square2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}



.encuentratriangulorectangulo2 {
    display: none;

    &.opened {
        display: flex;
    }
}


.background9 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.righttriangle2 {
    position: absolute;
    z-index: 2;
    max-width: 10.4%;
    max-height: 10.4%;
    right: 84.9%;
    bottom: 46%;


}

.righttriangle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentratrianguloisosceles2 {
    display: none;

    &.opened {
        display: flex;
    }
}


.background10 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.isoscelestriangle2 {
    position: absolute;
    z-index: 2;
    max-width: 10.2%;
    max-height: 10.2%;
    right: 54.9%;
    bottom: 25.8%;


}

.isoscelestriangle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}

.end {
    display: none;

    &.opened {
        display: flex;
    }
}