
@media only screen and (orientation:portrait) {
    #content {display: none;}
    #turn {display: block;}
}

@media only screen and (orientation:landscape) {
    #content {display: flex;}
    #turn {display: none;}
}

#content{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    
}

body {
    background-color: #FEE4D6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    


}


.popup1 {
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    width: 55%;
    height: 55%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    position: absolute;
    @media only screen and (max-height: 500px) {
        gap: 4%;
    }
    


}

#introduccion{
    display: none; //flex

    &.opened {
        display: flex;
    }
}

.popupshapes {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3%;
    max-width: 350px;
}

#introduccion2{
    display: none; //flex

    &.opened {
        display: flex;
    }
}

.shapes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    margin: 3%;
    margin-bottom: 0%;
    @media only screen and (max-height: 500px) {
        margin: 1%;
    }
}

.pantallainicio {
    display: flex; 

    &.close {
        display: none;
    }
}

.texto1 {
    font-size: 45px;
    @media only screen and (max-height: 500px) {
        font-size: 35px;
    }
}

.texto2 {
    font-size: 25px;
    @media only screen and (max-height: 500px) {
        font-size: 12px;
    }
}

.botones {
    padding: 10px 15px;
    background-color: black;
    border-radius: 50px;
    border: 3px solid white;
    color: white;
    @media only screen and (max-height: 500px) {
        padding: 5px 7px;
        border: 2px solid white;
    }
}

.popup2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: black;
    color: white;
    width: 55%;
    height: 55%;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    position: absolute;

    

    

}

.image{
    max-width: 20%;
    
}

.image img{
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}

.popup2texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 35%;
    
}



.encuentracirculo {
    display: none;

    &.opened {
        display: flex;
    }
}




.background1 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.circle {
    position: absolute;
    z-index: 2;
    max-width: 9.5%;
    max-height: 9.5%;
    right: 35.8%;
    bottom: 62.4%;



}

.contador {
    position: absolute;
    z-index: 2;
    right: 10%;
    top: 15%;
}

.texto3 {
    color: #f8b34b;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


.circle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}

.error {
    display: none;

    &.opened {
        display: flex;
    }
}

.encuentratriangulo {
    display: none;

    &.opened {
        display: flex;
    }
}

.background2 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.triangle {
    position: absolute;
    z-index: 2;
    max-width: 9.5%;
    max-height: 9.5%;
    right: 35.8%;
    bottom: 76.9%;


}

.triangle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentracuadrado {
    display: none;

    &.opened {
        display: flex;
    }
}

.background3 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.square {
    position: absolute;
    z-index: 2;
    max-width: 9.4%;
    max-height: 9.4%;
    right: 64.1%;
    bottom: 33.6%;


}

.square img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentratriangulorectangulo {
    display: none;

    &.opened {
        display: flex;
    }
}


.background4 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.righttriangle {
    position: absolute;
    z-index: 2;
    max-width: 9.5%;
    max-height: 9.5%;
    right: 45.3%;
    bottom:33.5%;


}

.righttriangle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentratrianguloisosceles {
    display: none;

    &.opened {
        display: flex;
    }
}


.background5 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.isoscelestriangle {
    position: absolute;
    z-index: 2;
    max-width: 4.75%;
    max-height: 9.5%;
    right: 54.6%;
    bottom: 62.2%;


}

.isoscelestriangle img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}



.encuentracirculo2 {
    display: none;

    &.opened {
        display: flex;
    }
}




.background6 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.circle2 {
    position: absolute;
    z-index: 2;
    max-width: 6.5%;
    max-height: 6.5%;
    right: 72.85%;
    bottom: 32.25%;



}


.circle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}




.encuentratriangulo2 {
    display: none;

    &.opened {
        display: flex;
    }
}




.background7 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.triangle2 {
    position: absolute;
    z-index: 2;
    max-width: 3.25%;
    max-height: 3.25%;
    right: 50.1%;
    bottom: 60.3%;



}


.triangle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentracuadrado2 {
    display: none;

    &.opened {
        display: flex;
    }
}




.background8 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}



.square2 {
    position: absolute;
    z-index: 2;
    max-width: 3.25%;
    max-height: 3.25%;
    right: 22%;
    bottom: 33%;



}


.square2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}



.encuentratriangulorectangulo2 {
    display: none;

    &.opened {
        display: flex;
    }
}


.background9 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.righttriangle2 {
    position: absolute;
    z-index: 2;
    max-width: 6.5%;
    max-height: 6.5%;
    right: 72.8%;
    bottom: 52%;


}

.righttriangle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}


.encuentratrianguloisosceles2 {
    display: none;

    &.opened {
        display: flex;
    }
}


.background10 {
    display: none;

    &.opened {
        display: block;
        position: relative;

    }
}

.isoscelestriangle2 {
    position: absolute;
    z-index: 2;
    max-width: 6.5%;
    max-height: 3.25%;
    right: 53.25%;
    bottom: 40.45%;


}

.isoscelestriangle2 img {
    width: 100%;
    /* La imagen ocupará todo el ancho del div */
    height: 100%;
    /* La imagen ocupará todo el alto del div */
    object-fit: cover;
}

.end {
    display: none;

    &.opened {
        display: flex;
    }
}